

.stopwatch {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e2f4fd;
}

.heading{
    color: rgb(42, 79, 165);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px;
}